<div style="position:absolute; margin-left:15px;">
  <table class="table table-borderless">
    <thead style="background-color:whitesmoke;position: fixed;padding-top: 50px;top: 80px;border-radius: 10px;" >
      <tr class="scrh" style="width: 100%;display: flex;justify-content:space-between; align-items: center ; background-color: rgba(255, 255, 255, 0.644);margin-bottom: 10px;border-radius: 10px;" >
        <div class="" style="height: fit-content;"> 
          <h2 style="margin: 0;margin-left: 10px; color: teal">Total Records : {{total_Records}}</h2>
        </div>
        <div style="padding : 15px; display : flex;justify-content: center;align-items: center;">
            <div style="display: flex;">          
              <div class="mr-3" style="background-color: rgba(201, 198, 198, 0.349) ;display: flex;justify-content: center;align-items: center;border-radius: 7px;">
                <input type="text" [(ngModel)]="student_Name"(input)="search()"  class="" style="padding: 9px ; background-color: transparent;border: none;outline-style: none;" placeholder="search by name">
                <button class="" (blur)="cancel()" (click)="cancel()" style="border-radius: 50%;border: none;width: 25px;height: 25px;margin-right: 6px;" type="button" id="button-addon2"><i style="margin-left: -1px;" class="bi bi-x"></i></button>
              </div>
              <div class="" style="background-color: rgba(201, 198, 198, 0.349) ;display: flex;justify-content: center;align-items: center;border-radius: 7px;">
                <input type="number" [(ngModel)]="Roll" (keyup.enter)="ser()" class="" style="padding: 9px ; background-color: transparent;border: none;outline-style: none;" placeholder="search by roll no">
                <button class="" (click)="cancel()" style="border-radius: 50%; border: none;width: 25px;height: 25px;margin-right: 6px;" type="button" id="button-addon2"><i style="margin-left: -1px;" class="bi bi-x"></i></button>
              </div>
           </div>
         </div>
      </tr>
      <tr class="header" style="background-color: rgba(185, 199, 214, 0.705);border-radius: 10px;">
        <th scope="col" style="width: 135px;">Roll No
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('roll_no', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('roll_no', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 220px;">Name
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('student_name', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('student_name', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 160px;">Maths
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('maths_marks', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('maths_marks', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 160px;">Physics
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('physics_marks', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('physics_marks', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 160px;">Chemistry
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('chemistry_marks', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('chemistry_marks', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 160px;">Total Marks
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('total_Marks', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('total_Marks', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 160px;">Percentage
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('percentage', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('percentage', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
        <th scope="col" style="width: 130px;border: none;">Rank
          <span style="cursor: pointer;margin-left: 6px;" (click)="sorts('roll_no', true)" ><i class="bi bi-arrow-up-square-fill"></i></span>
          <span style="cursor: pointer;margin-left: 3px;" (click)="sorts('roll_no', false)" ><i class="bi bi-arrow-down-square-fill"></i></span>
        </th>
      </tr>
    </thead>
  </table>

  <table class="table table-hover table-borderless tb" style="margin-top: 125px;">
    <tbody >
      <tr *ngFor = "let items of studentList">
        <td style="width: 135px;padding-left: 20px;" >{{items.roll_no}}</td>
        <td style="width: 220px;">{{items.student_name | titlecase}}</td>
        <td style="width: 160px;padding-left: 20px;">{{items.maths_marks}}</td>
        <td style="width: 160px;padding-left: 20px;">{{items.physics_marks}}</td>
        <td style="width: 160px;padding-left: 20px;">{{items.chemistry_marks}}</td>
        <td style="width: 160px;padding-left: 20px;">{{items.total_Marks}}</td>
        <td style="width: 160px;padding-left: 20px;">{{items.percentage | number : '1.2-2'}}</td>
        <td style="width: 130px;padding-left: 30px;">@Rank</td>
      </tr>
    </tbody>
 </table>

</div>